.Template{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 4px;
    overflow: hidden;
}

.Template .app-title{
    background: #6667AB;
    color: white;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Template .content{
    background: white;
}